@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Studio37Media.Shared.ViewModels
@attribute [Authorize]
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (profiles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>ProfilePhoto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profile in profiles)
            {
                <tr>
                    <td>@profile.UserID</td>
                    <td>@profile.FirstName</td>
                    <td>@profile.LastName</td>
                    <td>@profile.ProfilePhoto</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Profile[] profiles;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            profiles = await Http.GetFromJsonAsync<Profile[]>("WeatherForecast");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
