@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Studio37Media.Shared.ViewModels


@using System.IO
@using BlazorInputFile
@using System.IO.MemoryMappedFiles


    <div class="card my-4 col-7 container-fluid">

        <Studio37Media.Client.Components.ProfileComponents.SmallProfileDisplayComponent ProfileId="@post.UserId" />
        <div class="card-body">
            @foreach (PostPhoto photo in post.PostPhotos)
            {


            }

        </div>
        <div class="card-footer bg-transparent border-top-0">
            <button class="btn" href="#">
                <i class="far fa-heart fa-2x"></i>
            </button>
            <button class="btn" data-toggle="collapse" data-target="#demo" href="#">
                <i class="far fa-comment fa-2x"></i>
            </button>
            <button class="btn" href="#">
                <i class="fas fa-share-alt fa-2x"></i>
            </button>
            <div class="container-fluid">
                <h6>likes </h6>
                <h5 class="card-text my-2"> </h5>
                <small><i>Posted on @post.Date</i></small>
            </div>
            <p><a class="nav-link text-dark" data-toggle="collapse" href="#demo">View all Comments</a></p>

        </div>

        <div id="demo" class="collapse">
            <hr />
            <div class="container-fluid">
                <Studio37Media.Client.TempStylingComponents.Pages.Comment />
            </div>
            <hr />
            <div class="form-group form-inline my-3">
                <img class="rounded-circle mr-3" style="max-width: 64px;" src="300px-Leonardo_DiCaprio_Laughing.jpg" alt="Avatar">
                <input type="text" class="form-control col-11" id="comment" placeholder="write a comment...">
            </div>
        </div>
    </div>


@code {
    [Parameter]
    public Post post{ get; set; }
    protected override async Task OnInitializedAsync()
    {
        
    }
}

