@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Studio37Media.Shared.ViewModels


@using System.IO
@using BlazorInputFile
@using System.IO.MemoryMappedFiles


@attribute [Authorize]
@inject HttpClient Http

    <EditForm Model="@newLiveShow" OnValidSubmit="@HandleFormSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="LiveShowTitle" class="col-sm-1 col-form-label">Live Show Title</label>
            <div class="col-sm-5">
                <InputText id="LiveShowTitle" class="form-control" placeholder="Title"
                           @bind-Value="newLiveShow.Title" />
            </div>
        </div>
        <div class="form-group row">
            <label for="LiveShowDescription" class="col-sm-1 col-form-label">Description</label>
            <div class="col-sm-5">
                <InputText id="LiveShowDescription" class="form-control" placeholder="Description"
                           @bind-Value="newLiveShow.Description" />
            </div>
        </div>
        <div class="form-group row">
            <label for="LiveShowStartTime" class="col-sm-1 col-form-label">Start Time</label>
            <div class="col-sm-5">
                <InputDate id="LiveShowStartTime" class="form-control" placeholder="Start Time"
                           @bind-Value="newLiveShow.StartTime" />
            </div>
        </div>
        <div class="form-group row">
            <label for="LiveShowEndTime" class="col-sm-1 col-form-label">End Time</label>
            <div class="col-sm-5">
                <InputDate id="LiveShowEndTime" class="form-control" placeholder="End Time"
                           @bind-Value="newLiveShow.EndTime" />
            </div>
        </div>
        <div class="form-group row">
            <label for="LiveShowCredits" class="col-sm-1 col-form-label">credits</label>
            <div class="col-sm-5">
                <InputNumber id="LiveShowCredits" class="form-control" placeholder="Credits"
                           @bind-Value="newLiveShow.PriceCredits" />
            </div>
        </div>
   
        <button class="btn btn-light" type="submit">Submit</button>

    </EditForm>

@code {
    LiveShow newLiveShow = new LiveShow();

    //This runs on form submit
    async void HandleFormSubmit()
    {
        newLiveShow.id = Guid.NewGuid();

        
        await Http.PostAsJsonAsync<LiveShow>("LiveShow/NewLiveShow", newLiveShow);
    }
}
