<div class="media col-11 container-fluid">
    <img src="300px-Leonardo_DiCaprio_Laughing.jpg" alt="John Doe" class="align-self-start mr-3 rounded-circle" style="width:64px; height:64px;">

    <div class="media-body">
        <h4>Username </h4>
        <p>Content of comment</p>

        <div class="row">
            <small><p class="mt-2 ml-3 mr-2">Posted on...</p></small>
            <small><p class="mt-2 mx-2">likes</p></small>
            <small><p><a class="nav-link text-dark" data-toggle="collapse" href="#commentReplies">Reply</a></p></small>
            <button class="btn mb-3 mx-2" href="#">
                <i class="far fa-heart"></i>
            </button>
        </div>
        <div id="commentReplies" class="collapse">
            <hr />
            <div class="conatiner-fluid">
                <CommentReply />
                <CommentReply />
            </div>
            <hr />
            <div class="form-group form-inline my-3">
                <img class="rounded-circle mr-3" style="width: 64px; height: 64px;" src="300px-Leonardo_DiCaprio_Laughing.jpg" alt="Avatar">
                <input type="text" class="form-control col-10" id="comment" placeholder="Add a reply">
            </div>
            <hr />
        </div>
    </div>

</div>


@code {

}
