<div class="card col-3 border-0 container-fluid my-2">
    <div></div>
    <img src="disappointed.jpg" class="img-fluid" alt="">
    <div class="card-body row col-12 border-left-0">
        <div class="col-9">
            <h5 class="card-title">Video Title longer longer longer</h5>
            <small><p class="card-text"></p>date posted</small>
        </div>
        <div class="col-3">
            <h5 class="text-muted font-weight-bold">Price</h5>
        </div>
    </div>
</div>
