<nav class="navbar navbar-expand bg-dark navbar-dark fixed-top">

    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="oi oi-menu"></span>
        </button>
        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item bg-dark text-white" href="/counter">Counter</a>
            <a class="dropdown-item bg-dark text-white" href="/fetchdata">Data Table</a>
            <a class="dropdown-item bg-dark text-white" href="#">Library</a>
            <a class="dropdown-item bg-dark text-white" href="#">Subscriptions</a>
            <a class="dropdown-item bg-dark text-white" href="#">Saved</a>
            <a class="dropdown-item bg-dark text-white" href="#">Events</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item bg-dark text-white" href="#">Help</a>
            <a class="dropdown-item bg-dark text-white" href="#">About</a>
            <a class="dropdown-item bg-dark text-white" href="#">Contact Us</a>
            <a class="dropdown-item bg-dark text-white" href="#">Advertise</a>
        </div>
    </div>

    <a class="navbar-brand px-3" href="/">Studio 37</a>


    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <button class="btn btn-dark" type="button" href="#">
                <span class="oi oi-magnifying-glass"></span>
            </button>
        </li>

        <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-person"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="dropdownMenuButton2">
                <a class="dropdown-item bg-dark text-white" href="/profile">Profile</a>
                <a class="dropdown-item bg-dark text-white" href="/videos">Your Videos</a>
                <a class="dropdown-item bg-dark text-white" href="#">Notifications</a>
                <a class="dropdown-item bg-dark text-white" href="#">Messages</a>
                <a class="dropdown-item bg-dark text-white" href="#">Groups</a>
                <a class="dropdown-item bg-dark text-white" href="#">Settings</a>
            </div>
        </li>
    </ul>
</nav>
