@page "/videos"

<TopNavBar/>
<div class="container col-10">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Video</th>
                <th>Date</th>
                <th>Status</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><UserVideoListCard /></td>
                <td>01/09/2020</td>
                <td>Public</td>
                <td>123</td>
            </tr>
            <tr>
                <td><UserVideoListCard /></td>
                <td>20/08/2020</td>
                <td>Private</td>
                <td>100</td>
            </tr>
            <tr>
                <td><UserVideoListCard /></td>
                <td>10/08/2020</td>
                <td>Public</td>
                <td>200</td>
            </tr>
        </tbody>
    </table>
</div>

<Footer/>