


<a href="/uploadVideo" class="text-decoration-none">
    <div calss="conatiner my-4">
        <button class="btn btn-block font-weight-bold text-muted" type="button">
            <span class="oi oi-plus"></span>
            New Class
        </button>
    </div>
</a>

<div class="conatiner col-11 container-fluid">
    <div class="row align-items-start">
        @*<GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />
        <GridVideoCard />*@
    </div>
</div>





@code {

}
