@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Studio37Media.Shared.ViewModels
@attribute [Authorize]
@inject HttpClient Http
<!-- Header info -->
<div class="container-fluid my-4">
    <div class="row">
        <div class="clearfix col-4">
            <img src="300px-Leonardo_DiCaprio_Laughing.jpg" class="img-fluid rounded-circle px-4 float-right" alt="Haha">
        </div>
        <div class="col-4">
            <div class="row">
                <h2><a class="nav-link text-dark px-5 pt-5 pb-3" href="#">followers</a></h2>
                <h2><a class="nav-link text-dark px-5 pt-5 pb-3" href="#">following</a></h2>
            </div>
            <h4 class="pl-5">name</h4>
            <h6 class="pl-5">Description</h6>
            <h6 class="pl-5">website link</h6>
        </div>
        <div class="clearfix col-4">
            <button class="btn btn-outline-danger mx-5 my-5 w-25" href="#">Edit Profile</button>
        </div>
    </div>
</div>

<!-- Follow button -->
<div class="container-fluid py-4">
    <button class="btn btn-block btn-outline-danger ">Follow</button>
</div>
<TabControl>
    <TabPage Text="Tab 1">
        <ProfileTimelineComponent/>
    </TabPage>
    <TabPage Text="Tab 2">
        <ProfileTutorialsComponent/>
    </TabPage>
    <TabPage Text="Tab 3">
        <ProfileWorkshopsComponent/>
    </TabPage>
</TabControl>
<div class="dropdown-divider"></div>




@code {
    private Profile[] profiles;

    public string view = "TimeLine";


    protected override async Task OnInitializedAsync()
    {
        try
        {
            //profiles = await Http.GetFromJsonAsync<Profile[]>("");
            //await Http.PostAsJsonAsync();
            //<Profile>("Profile");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }



}
