@page "/profile/workshops"

<Studio37Media.Client.Components.ProfileComponents.ConsistentProfileElementsComponent />


<div class="btn-group btn-block">
    <a href="/profile" class="btn font-weight-bold text-muted">
        Timeline
    </a>
    <a href="/profile/tutorials" class="btn font-weight-bold text-muted">
        Tutorials
    </a>
    <a href="/profile/workshops" class="btn font-weight-bold text-muted">
        Workshops
    </a>
</div>
<div class="dropdown-divider"></div>

<a href="/userPlaylists" class="text-decoration-none">
    <div calss="conatiner my-4">
        <button class="btn btn-block font-weight-bold text-muted" type="button">
            <span class="oi oi-plus"></span>
            Edit Playlists
        </button>
    </div>
</a>

<div class="conatiner col-11 container-fluid">
    <div class="row align-items-start">
        @*<PlaylistGridCard />
        <PlaylistGridCard />
        <PlaylistGridCard />
        <PlaylistGridCard />
        <PlaylistGridCard />
        <PlaylistGridCard />*@
    </div>
</div>

@code {

}
